# Data Model Project
#### Leyton Jean Piere Castro

A data model is a conceptual representation of data and the relationships between different data elements. It defines how data is organized, stored, and accessed in a database management system. Data models help to ensure data accuracy, consistency, and integrity in an organization's database. In other words, a data model is a blueprint that describes the structure, content, and flow of data in a database.

## What is important

Data modeling is important because it helps to ensure that data is organized in a way that is accurate, consistent, and easy to access. By creating a data model, organizations can identify potential issues with their data and take steps to address them before they become larger problems. Additionally, a well-designed data model can help to improve the efficiency and effectiveness of database operations, which can ultimately improve an organization's bottom line.

## Relational model

The relational model is a data model that represents data as a collection of tables, with each table representing a specific entity or concept. The tables are composed of columns, which represent the attributes or characteristics of the entity, and rows, which represent individual instances of the entity. The tables are connected to each other through relationships, which allow data to be accessed and combined from multiple tables. The relational model is widely used in modern database management systems and is considered to be a standard for organizing and accessing data.

## Relational databases

Relational databases are a type of database management system that is based on the relational model. In a relational database, data is organized into tables, with each table representing a specific entity or concept. For example, a company might have a table for employees, with columns for each employee's name, job title, and salary. Each row in the table represents an individual employee.

Relational databases allow data to be accessed and combined from multiple tables through relationships. For example, a company might have a second table for departments, with columns for each department's name and manager. By creating a relationship between the employees table and the departments table, the company can access information about which employees are in which department, and which department each employee's manager is responsible for.

Relational databases are widely used in modern organizations for managing data. Some examples of popular relational database management systems include MySQL, Oracle, and Microsoft SQL Server.

### Advantages

- Relational databases are flexible and can be easily scaled to manage large amounts of data.
- They allow data to be accessed and combined from multiple tables through relationships.
- They provide a consistent and standardized way of organizing and accessing data.
- They ensure data accuracy, consistency, and integrity.
- They support complex queries and can handle large amounts of data efficiently.
- They provide a high level of security and access control to protect sensitive data.
- They are widely used and supported, with many available tools and resources for development and management.

ACID transactions are a set of properties that guarantee that database transactions are processed reliably. ACID stands for Atomicity, Consistency, Isolation, and Durability. Atomicity means that a transaction is treated as a single, indivisible unit of work, either all of it is done or none of it is done. Consistency means that the database will always be in a valid state before and after the transaction. Isolation means that concurrent transactions do not interfere with each other. Durability means that once a transaction is committed, it is permanent and can survive any subsequent system failures.

## When to not use

- When the data does not have a well-defined structure or is unstructured, such as with social media posts or multimedia files.
- When the data is too large or complex to be effectively managed by a relational database.
- When the data requires frequent updates or changes, as this can be inefficient in a relational database.
- When the application requires high performance for read-heavy workloads, as other types of databases may be more efficient.

## PostgreSQL

PostgreSQL is a powerful, open-source object-relational database management system. It is known for its reliability, scalability, and extensibility, and is widely used in many industries, including finance, healthcare, and telecommunications. PostgreSQL supports a wide range of features, including ACID transactions, foreign keys, triggers, and stored procedures, and has a large and active community of developers and users who contribute to its ongoing development and improvement.

## 0. Import

In [16]:
import psycopg2

## 1. Create a DB connection

In [4]:
try:
    conn = psycopg2.connect("host=localhost dbname=bd user=ljpcastroc password=password")
except pyscopg2.Error as e:
    print("Couldn't connect to database")
    print(e)

## 2. Get a cursor

In [5]:
try:
    cur = conn.cursor()
except pyscopg2.Error as e:
    print("Couldn't create a cursor")
    print(e)

### 2.1. Setup a automatic commit

In [6]:
conn.set_session(autocommit=True)

### 2.2. Create a database

In [7]:
try:
    cur.execute("create database dmodeldb")
except pyscopg2.Error as e:
    print(e)

## 3. Let's go to work in the new db

So, we should close the actual connection and setup a new connection to the new db.

In [8]:
# Setup connection
try:
    conn = psycopg2.connect("host=localhost dbname=dmodeldb user=ljpcastroc password=password")
except pyscopg2.Error as e:
    print("Couldn't connect to database")
    print(e)

# Create a cursor
try:
    cur = conn.cursor()
except pyscopg2.Error as e:
    print("Couldn't create a cursor")
    print(e)

# setup autocommit
conn.set_session(autocommit=True)

## 4. Create and insert table

student_id  
name  
age  
gender  
subject  
marks

In [9]:
try:
    cur.execute("""CREATE TABLE IF NOT EXISTS students (
                       student_id INT,
                       name VARCHAR(100),
                       age INT,
                       gender VARCHAR(15),
                       subject VARCHAR(150),
                       marks INT
               )""")
except pyscopg2.Error as e:
    print("error creating table")
    print(e)

### 4.1 Insert rows

First Row: 1, "Raj", 23, "Male", "Python", 85  
Second Row: 2, "Priya", 22, "Female", "Python", 86

In [12]:
try :
    cur.execute( "INSERT INTO students (student_id, name, age, gender, subject, marks) \
                  VALUES (%s, %s, %s, %s, %s, %s)", \
                  (1, "Rai", 23, "Male", "Python", 85))
except psycopg2. Error as e:
    print( "Error: Inserting Rows")
    print (e)
try :
    cur.execute( "INSERT INTO students (student_id, name, age, gender, subject, marks) \
                  VALUES (%s, %s, %s, %s, %s, %s)", \
                  (2, "Priya", 22, "Female", "Python", 86))
except psycopg2. Error as e:
    print( "Error: Inserting Rows")
    print (e)

### 4.2 Validate data insert

cur.fetchone() is a method used to retrieve a single row from a result set returned by a SQL query. It is typically used with the SELECT statement. Once you have executed a query and obtained a result set, you can call fetchone() on the cursor object to retrieve the first row of the result set. If there are no more rows, fetchone() returns None. If you want to retrieve all the rows of the result set, you can use the fetchall() method instead.

In [14]:
# Select sentence
try:
    cur.execute("SELECT * FROM students")
except psycopg2. Error as e:
    print( "Error: selecting row")
    print (e)

# Use a fetchone
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rai', 23, 'Male', 'Python', 85)
(2, 'Priya', 22, 'Female', 'Python', 86)

## 5. Close

In [15]:
cur.close()
conn.close()